#wrapper {
    text-align: center;
}

.qtype {
    display: inline-block;
    padding: 4px 4px;
    vertical-align: top;
}

#logo {
    margin-top: 100px;
    margin-right: auto;
	margin-left: auto;
	margin-bottom: 17px;
	width: 450px;
}

#logoMini {
    padding-left: 13px;
    padding-right: 8px;
    padding-top: 12px;
    float:left;
    width: 125px;
    height: 29px;
}

#queryboxMini {
    clear:left;
    width: 480px;
    padding: 4px 9px;
    margin-bottom: 16px;
    font: 16px arial,sans-serif;
    border: 1px solid #d9d9d9;
    border-top-color: silver;
    color: #000;
    margin-right: 4px;
}

#querybox {
    width: 480px;
    padding: 4px 9px;
    margin-bottom: 16px;
    font: 16px arial,sans-serif;
    border: 1px solid #d9d9d9;
    border-top-color: silver;
    color: #000;
    margin-right: 4px;
    margin-left: 100px;
}

@media screen and (max-width: 800px) {
	#querybox {
	    margin-left: 0px;
	}
}

#topkselect {
    width: 32px;
    padding: 4px 4px;
    margin-bottom: 16px;
    font: 16px arial,sans-serif;
    border: 1px solid #d9d9d9;
    border-top-color: silver;
    color: #000;
    text-align-last: center;
}

button, input[type=submit], input[type=file] {
    height: 36px;
    line-height: 27px;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    -moz-border-radius: 2px;
    -moz-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

button:hover, input[type=submit]:hover, input[type=file]:hover {
    color: #000000;
    border: 1px solid #a8a8a8;
}

button:focus, input[type=submit]:focus, input[type=file]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.buttspan {
    margin: 0 4px;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-bottom: -6px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input + .slider {
    background-color: #2196F3;
}

input:checked + .slider {
    background-color: #3ea337;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#crawlform {
  position: absolute;
  top: 1%;
  left: 1%;
}

#crawltext {
    width: 300px;
}

#crawlselect {
    width: 40px;
    text-align-last: center;
}

#uploadform {
    position: absolute;
    top: 1%;
    right: 1%;
}

#qtype-checkMini {
    margin-left: 16px;
}

.qtypeMini {
    display: inline-block;
    padding: 4px 4px;
}

#searchHeader {
    top: 20px;
    min-width: 1300px;
    border-bottom: 1px solid silver;
}

#doclist {
    list-style-type: none;
}

#doclist li {
    font-size: medium;
    font-weight: normal;
    text-align: left;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
    font-family: arial,sans-serif;

}

#doclist li a:link, #doclist li a:visited {
    width: 95%;
    background-color: #f1f1f1;
    border: 1px solid #969494;
    padding: 16px 25px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

#doclist li a:hover, #doclist li a:active {
    background-color: #e4e4e4;
    text-decoration: underline;
}

#infoMessage {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9;
    color: #000000;
    border: 2px solid #a8a8a8;
	background-color: #f2f2f2;
	padding: 4px 8px;
	transition: all .25s ease;
}

#infoMessage:hover {
    left: 36px;
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#noResults {
    font-size: medium;
    font-weight: normal;
    text-align: left;
    line-height: 1.2;
    margin-left: 10px;
    font-family: arial,sans-serif;
}

#resultNum {
    margin-left: 40px;
    padding-right: 8px;
    line-height: 36px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#queryResult {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}