<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content=" A simple search engine in Python.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='pap.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title> Searchito </title>
        <script src="{{ url_for('static', filename='searchSubmit.js') }}"></script>
        <script>
            function disableCheckbox() {
                if(document.getElementById("typeCheck").checked) {
                    document.getElementById('typeCheckHidden').disabled = true;
                }
                return document.getElementByName("q").value!='';
            }
        </script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div>
                    <a href="/">
                        <img src="{{ url_for('static', filename='searchito.png') }}" alt="Searchito Logo" id="logo">
                    </a>
                </div>
            </header>
            <main>
                <form id="searchform" action="/search" method="get" onsubmit="return disableCheckbox.js" role="search">
                    <br>
                    <span>
                        <input id="querybox" name="q" autocomplete="off" spellcheck="false" value="" title="Search" type="text">
                    </span>
                    <span> Top </span>
                    <span>
                        <select id="topkselect" name="top" title="Top">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                    <span> results</span>
                    <div id="qtype-check">
                        <span class="qtype">Vector</span>
                        <label class="switch">
                            <input id="typeCheckHidden" type="hidden" name="type" value="vector">
                            <input id="typeCheck" type="checkbox" name="type" value="boolean">
                            <span class="slider round"></span>
                        </label>
                        <span class="qtype">Boolean</span>
                    </div>
                    <span class="buttspan">
                        <input type="submit" value="Searchito Searchito" id="searchbutt"/>
                    </span>
                    <span class="buttspan">
                        <button id="feelluckybutt" type="button" onclick="location.href='http://www.regencycasinos.gr/thessaloniki/el/';">I'm Feeling Lucky</button>
                    </span>
                </form>
                <form id="crawlform">
                    <button id="crawlingbutt" type="button">Crawl</button>
                    <span> in </span>
                    <input type="text" id="crawltext" name="c" title="Crawl">
                    <span> for </span>
                    <span>
                        <select id="crawlselect" name="crawlnum" title="crawlnum">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                    <span> links </span>
                </form>
                <form id="uploadform" method="POST" action="/uploader" enctype="multipart/form-data">
                    <span><em>Upload Documents:</em></span>
                    <input type="file" name="files" value="Choose File" />
                    <input type="submit" value="Submit"/>
                </form>
            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>
