<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content=" A simple search engine in Python.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title> Searchito </title>
    </head>
    <body id="index-body">
        <div id="wrapper">
            <header>
                <div>
                    <a href="/">
                        <img src="{{ url_for('static', filename='searchito.png') }}" alt="Searchito Logo" id="logo">
                    </a>
                </div>
            </header>
            <main>
                <form id="searchform" action="/query" method="get" onsubmit="return search.value!=''" role="search">
                    <br>
                    <span>
                        <input id="querybox" name="search" placeholder="" autocomplete="off" spellcheck="false" value="{{query}}" title="Search" type="text">
                    </span>
                    <span> Top </span>
                    <span>
                        <select id="topkselect" name="top" title="Top">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                    <span> results</span>
                    <div id="qtype-check">
                        <span class="qtype">Boolean</span>
                        <label class="switch">
                            <input id="typeCheck" type="checkbox" autocomplete="off" name="mode" value="vector" {{'' if boolean else 'checked="checked"'}}>
                            <span class="slider round"></span>
                        </label>
                        <span class="qtype">Vector</span>
                    </div>
                    <span class="buttspan">
                        <input type="submit" value="Searchito Searchito" id="searchbutt"/>
                    </span>
                    <span class="buttspan">
                        <button id="feelluckybutt" type="button" onclick="location.href='http://www.regencycasinos.gr/thessaloniki/el/';">I'm Feeling Lucky</button>
                    </span>
                </form>
                <form id="crawlform" action="/crawl" method="POST">
                    <button id="crawlingbutt" name="crawl" type="submit">Crawl</button>
                    <span> in </span>
                    <input type="text" id="crawltext" name=crawl-link title="Crawl" value="https://en.wikipedia.org/wiki/Information_retrieval">
                    <span> for </span>
                    <span>
                        <select id="crawlselect" name="crawl-number" title="crawlnum">
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                        </select>
                    </span>
                    <span> links </span>
                </form>
                <form id="uploadform" method="POST" action="/uploader" enctype="multipart/form-data">
                    <span><em>Upload Documents:</em></span>
                    <input type="file" name="files" value="Choose File" multiple/>
                    <input type="submit" value="Submit"/>
                </form>
                {% if False %}
                    <div id="infoMessage">
                        This is a Test. \(^_^)/
                    </div>
                {% endif %}
            </main>
            <footer>

            </footer>
        </div>
        <script src="{{ url_for('static', filename='disablePlaceholder.js') }}"></script>
    </body>
</html>
