<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='pap.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Search Results</title>
        <script>
            function disableCheckbox() {
                if(document.getElementById("typeCheck").checked) {
                    document.getElementById('typeCheckHidden').disabled = true;
                }
                return document.getElementByName("q").value!='';
            }
        </script>
    </head>
    <body>
        <div id="wrapperSearch">
            <header id="searchHeader">
                <span>
                    <a href="/">
                        <img src="{{ url_for('static', filename='searchito.png') }}" alt="Searchito Logo" id="logoMini">
                    </a>
                </span>
                <span>
                    <form id="searchform" action="/search" method="get" onsubmit="return disableCheckbox()" role="search">
                        <span>
                            <input id="queryboxMini" name="q" autocomplete="off" spellcheck="false" value="" title="Search" type="text">
                        </span>
                        <span class="buttspan">
                            <input type="submit" value="Searchito Searchito" id="searchbutt"/>
                        </span>
                        <span> Top </span>
                        <span>
                            <select id="topkselect" name="top" title="Top">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </span>
                        <span> results</span>
                        <span id="qtype-check">
                            <span class="qtypeMini">Vector</span>
                            <label class="switch">
                                <input id="typeCheckHidden" type="hidden" name="type" value="vector">
                                <input id="typeCheck" type="checkbox" name="type" value="boolean">
                                <span class="slider round"></span>
                            </label>
                            <span class="qtypeMini">Boolean</span>
                        </span>
                    </form>
                </span>

            </header>
            <main>
                <ul id="doclist">
                    
                </ul>
            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>
