<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Machine</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
    <div class="wrap">
        <div class="search">
            <form action="/query" method="GET">
                <input type="text" name="search" class="searchTerm" placeholder="What are you looking for?" value="{{query}}">
                <button type="submit" class="searchButton"></button>
                <input type="checkbox" name="boolean-model" value="1" {{'checked="checked"' if boolean else ""}}>Boolean<br>
            </form>
        </div>
    </div>
    <div class="results">
        {% for result in results %}
        <div class=result>
            <a href="{{result}}"> {{result}} </a>
        </div>
        {% endfor %}
    </div>
    <div class="crawl-form">
        <form action="/crawl" method="POST">
            <input type="text" name="crawl-link" placeholder="Crawling root link" value="https://www.google.gr">
            <input type="number" name="crawl-number" class="number-input" value=5>
            <button type="submit" name="crawl">Crawl</button>
        </form>
        <form class="upload-form" action="/uploader" method="POST" enctype="multipart/form-data">
            <input type="file" name="files" value="Choose File" multiple/>
            <input type="submit" value="Upload" />
        </form>
    </div>
</body>

</html>
